body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.spacer {
  border-bottom: 8px solid black;
  width: 100px;
  text-align: center;
  margin: 1.5em auto;
}

.contact {
  text-align: center;
  margin-bottom: 3em;
}
