* {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

.Navbar {
  background-color: white;
  height: 3em;
  margin: 0px;
}

.site-title {
  position: relative;
  font-size: 1.7em;
  font-weight: lighter;
  color: #7e7e7e;
  text-align: center;
  padding: .3em;
}

.hamburger {
  position: absolute;;
  top: .1em;
  right: .2em;
  font-size: 2em;
  color: #7e7e7e;
}

.menu-extended {
  background-color: #292e37;
  height: 8em;
}

.menu-collapsed {
  display: none;
}

.menu-item {
  text-align: center;
  border-bottom: 1px solid white;
  color: white;
}
