.project-image-frame {
  text-align: center;
}

.project-image {
  width: 200px;
  margin-top: 2em;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.project-title {
  color: #7e7e7e;
  text-align: center;
  font-weight: 100;
  margin: .2em;
}

.description {
  line-height: 1.5;
}
