* {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

.splash-background {
  font-weight: lighter;
  text-align: center;
}

.headshot {
  border-radius: 100%;
  margin: 20px 0px;
  height: 100px;
  width: 100px;
}

.headline {
  width: 60%;
  margin: 0 auto;
}

.down-arrow {
  font-size: 4em;
}

