* {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

.splash-background {
  font-weight: lighter;
  height: 650px;
  text-align: center;
}

.headshot {
  border-radius: 100%;
  margin-top: 100px;
  height: 100px;
  width: 100px;
}

.header {
  width: 60%;
  margin: 0 auto;
}

.down-arrow {
  font-size: 4em;
}

/*.portfolio-container {
  border: 1px grey solid;
  width: 70%;
  margin: 0 auto;
}

.project {
  display: inline-block;
}*/
